@import 'bootstrap/scss/bootstrap.scss';

:root,
:host {
  @extend :root;
}

:host {
  --loading-color: #f55;
  > div {
    @extend body;
    // https://web.dev/articles/custom-elements-best-practices#set-a-:host-display-style-e.g.-block,-inline-block,-flex-unless-you-prefer-the-default-of-inline.
  }
}


:host {
  --btn-close-filter: none;
}

[data-bs-theme="dark"] {
  --btn-close-filter: invert(1) grayscale(100%) brightness(200%);
}

